@tailwind base;
@tailwind components;
@tailwind utilities;


/* @layer base {
  body {
    @apply transition-colors duration-300;
  }
  
  .dark body {
    @apply bg-slate-950 text-slate-50;
  }
} */
